@import url(../js/jquery-minicolors/jquery.minicolors.css);
@import url(../js/jquery_awslightbox/jquery_awslightbox.css);
@import url(icons/font-awesome/css/font-awesome.min.css);
@import url(./jquery_awsslideshow/awsslideshow.css);
.container {
  margin-right: auto;
  margin-left: auto;
  padding-left: 15px;
  padding-right: 15px;
}
.container:before, .container:after {
  content: " ";
  display: table;
}
.container:after {
  clear: both;
}
@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}
@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}

.container-fluid {
  margin-right: auto;
  margin-left: auto;
  padding-left: 15px;
  padding-right: 15px;
}
.container-fluid:before, .container-fluid:after {
  content: " ";
  display: table;
}
.container-fluid:after {
  clear: both;
}

.row {
  margin-left: -15px;
  margin-right: -15px;
}
.row:before, .row:after {
  content: " ";
  display: table;
}
.row:after {
  clear: both;
}

.col-xs-1, .col-sm-1, .col-md-1, .col-lg-1, .col-xs-2, .col-sm-2, .col-md-2, .col-lg-2, .col-xs-3, .col-sm-3, .col-md-3, .col-lg-3, .col-xs-4, .col-sm-4, .col-md-4, .col-lg-4, .col-xs-5, .col-sm-5, .col-md-5, .col-lg-5, .col-xs-6, .col-sm-6, .col-md-6, .col-lg-6, .col-xs-7, .col-sm-7, .col-md-7, .col-lg-7, .col-xs-8, .col-sm-8, .col-md-8, .col-lg-8, .col-xs-9, .col-sm-9, .col-md-9, .col-lg-9, .col-xs-10, .col-sm-10, .col-md-10, .col-lg-10, .col-xs-11, .col-sm-11, .col-md-11, .col-lg-11, .col-xs-12, .col-sm-12, .col-md-12, .col-lg-12 {
  position: relative;
  min-height: 1px;
  padding-left: 15px;
  padding-right: 15px;
}

.col-xs-1, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9, .col-xs-10, .col-xs-11, .col-xs-12 {
  float: left;
}

.col-xs-1 {
  width: 8.33333%;
}

.col-xs-2 {
  width: 16.66667%;
}

.col-xs-3 {
  width: 25%;
}

.col-xs-4 {
  width: 33.33333%;
}

.col-xs-5 {
  width: 41.66667%;
}

.col-xs-6 {
  width: 50%;
}

.col-xs-7 {
  width: 58.33333%;
}

.col-xs-8 {
  width: 66.66667%;
}

.col-xs-9 {
  width: 75%;
}

.col-xs-10 {
  width: 83.33333%;
}

.col-xs-11 {
  width: 91.66667%;
}

.col-xs-12 {
  width: 100%;
}

.col-xs-pull-0 {
  right: auto;
}

.col-xs-pull-1 {
  right: 8.33333%;
}

.col-xs-pull-2 {
  right: 16.66667%;
}

.col-xs-pull-3 {
  right: 25%;
}

.col-xs-pull-4 {
  right: 33.33333%;
}

.col-xs-pull-5 {
  right: 41.66667%;
}

.col-xs-pull-6 {
  right: 50%;
}

.col-xs-pull-7 {
  right: 58.33333%;
}

.col-xs-pull-8 {
  right: 66.66667%;
}

.col-xs-pull-9 {
  right: 75%;
}

.col-xs-pull-10 {
  right: 83.33333%;
}

.col-xs-pull-11 {
  right: 91.66667%;
}

.col-xs-pull-12 {
  right: 100%;
}

.col-xs-push-0 {
  left: auto;
}

.col-xs-push-1 {
  left: 8.33333%;
}

.col-xs-push-2 {
  left: 16.66667%;
}

.col-xs-push-3 {
  left: 25%;
}

.col-xs-push-4 {
  left: 33.33333%;
}

.col-xs-push-5 {
  left: 41.66667%;
}

.col-xs-push-6 {
  left: 50%;
}

.col-xs-push-7 {
  left: 58.33333%;
}

.col-xs-push-8 {
  left: 66.66667%;
}

.col-xs-push-9 {
  left: 75%;
}

.col-xs-push-10 {
  left: 83.33333%;
}

.col-xs-push-11 {
  left: 91.66667%;
}

.col-xs-push-12 {
  left: 100%;
}

.col-xs-offset-0 {
  margin-left: 0%;
}

.col-xs-offset-1 {
  margin-left: 8.33333%;
}

.col-xs-offset-2 {
  margin-left: 16.66667%;
}

.col-xs-offset-3 {
  margin-left: 25%;
}

.col-xs-offset-4 {
  margin-left: 33.33333%;
}

.col-xs-offset-5 {
  margin-left: 41.66667%;
}

.col-xs-offset-6 {
  margin-left: 50%;
}

.col-xs-offset-7 {
  margin-left: 58.33333%;
}

.col-xs-offset-8 {
  margin-left: 66.66667%;
}

.col-xs-offset-9 {
  margin-left: 75%;
}

.col-xs-offset-10 {
  margin-left: 83.33333%;
}

.col-xs-offset-11 {
  margin-left: 91.66667%;
}

.col-xs-offset-12 {
  margin-left: 100%;
}

@media (min-width: 768px) {
  .col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12 {
    float: left;
  }

  .col-sm-1 {
    width: 8.33333%;
  }

  .col-sm-2 {
    width: 16.66667%;
  }

  .col-sm-3 {
    width: 25%;
  }

  .col-sm-4 {
    width: 33.33333%;
  }

  .col-sm-5 {
    width: 41.66667%;
  }

  .col-sm-6 {
    width: 50%;
  }

  .col-sm-7 {
    width: 58.33333%;
  }

  .col-sm-8 {
    width: 66.66667%;
  }

  .col-sm-9 {
    width: 75%;
  }

  .col-sm-10 {
    width: 83.33333%;
  }

  .col-sm-11 {
    width: 91.66667%;
  }

  .col-sm-12 {
    width: 100%;
  }

  .col-sm-pull-0 {
    right: auto;
  }

  .col-sm-pull-1 {
    right: 8.33333%;
  }

  .col-sm-pull-2 {
    right: 16.66667%;
  }

  .col-sm-pull-3 {
    right: 25%;
  }

  .col-sm-pull-4 {
    right: 33.33333%;
  }

  .col-sm-pull-5 {
    right: 41.66667%;
  }

  .col-sm-pull-6 {
    right: 50%;
  }

  .col-sm-pull-7 {
    right: 58.33333%;
  }

  .col-sm-pull-8 {
    right: 66.66667%;
  }

  .col-sm-pull-9 {
    right: 75%;
  }

  .col-sm-pull-10 {
    right: 83.33333%;
  }

  .col-sm-pull-11 {
    right: 91.66667%;
  }

  .col-sm-pull-12 {
    right: 100%;
  }

  .col-sm-push-0 {
    left: auto;
  }

  .col-sm-push-1 {
    left: 8.33333%;
  }

  .col-sm-push-2 {
    left: 16.66667%;
  }

  .col-sm-push-3 {
    left: 25%;
  }

  .col-sm-push-4 {
    left: 33.33333%;
  }

  .col-sm-push-5 {
    left: 41.66667%;
  }

  .col-sm-push-6 {
    left: 50%;
  }

  .col-sm-push-7 {
    left: 58.33333%;
  }

  .col-sm-push-8 {
    left: 66.66667%;
  }

  .col-sm-push-9 {
    left: 75%;
  }

  .col-sm-push-10 {
    left: 83.33333%;
  }

  .col-sm-push-11 {
    left: 91.66667%;
  }

  .col-sm-push-12 {
    left: 100%;
  }

  .col-sm-offset-0 {
    margin-left: 0%;
  }

  .col-sm-offset-1 {
    margin-left: 8.33333%;
  }

  .col-sm-offset-2 {
    margin-left: 16.66667%;
  }

  .col-sm-offset-3 {
    margin-left: 25%;
  }

  .col-sm-offset-4 {
    margin-left: 33.33333%;
  }

  .col-sm-offset-5 {
    margin-left: 41.66667%;
  }

  .col-sm-offset-6 {
    margin-left: 50%;
  }

  .col-sm-offset-7 {
    margin-left: 58.33333%;
  }

  .col-sm-offset-8 {
    margin-left: 66.66667%;
  }

  .col-sm-offset-9 {
    margin-left: 75%;
  }

  .col-sm-offset-10 {
    margin-left: 83.33333%;
  }

  .col-sm-offset-11 {
    margin-left: 91.66667%;
  }

  .col-sm-offset-12 {
    margin-left: 100%;
  }
}
@media (min-width: 992px) {
  .col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12 {
    float: left;
  }

  .col-md-1 {
    width: 8.33333%;
  }

  .col-md-2 {
    width: 16.66667%;
  }

  .col-md-3 {
    width: 25%;
  }

  .col-md-4 {
    width: 33.33333%;
  }

  .col-md-5 {
    width: 41.66667%;
  }

  .col-md-6 {
    width: 50%;
  }

  .col-md-7 {
    width: 58.33333%;
  }

  .col-md-8 {
    width: 66.66667%;
  }

  .col-md-9 {
    width: 75%;
  }

  .col-md-10 {
    width: 83.33333%;
  }

  .col-md-11 {
    width: 91.66667%;
  }

  .col-md-12 {
    width: 100%;
  }

  .col-md-pull-0 {
    right: auto;
  }

  .col-md-pull-1 {
    right: 8.33333%;
  }

  .col-md-pull-2 {
    right: 16.66667%;
  }

  .col-md-pull-3 {
    right: 25%;
  }

  .col-md-pull-4 {
    right: 33.33333%;
  }

  .col-md-pull-5 {
    right: 41.66667%;
  }

  .col-md-pull-6 {
    right: 50%;
  }

  .col-md-pull-7 {
    right: 58.33333%;
  }

  .col-md-pull-8 {
    right: 66.66667%;
  }

  .col-md-pull-9 {
    right: 75%;
  }

  .col-md-pull-10 {
    right: 83.33333%;
  }

  .col-md-pull-11 {
    right: 91.66667%;
  }

  .col-md-pull-12 {
    right: 100%;
  }

  .col-md-push-0 {
    left: auto;
  }

  .col-md-push-1 {
    left: 8.33333%;
  }

  .col-md-push-2 {
    left: 16.66667%;
  }

  .col-md-push-3 {
    left: 25%;
  }

  .col-md-push-4 {
    left: 33.33333%;
  }

  .col-md-push-5 {
    left: 41.66667%;
  }

  .col-md-push-6 {
    left: 50%;
  }

  .col-md-push-7 {
    left: 58.33333%;
  }

  .col-md-push-8 {
    left: 66.66667%;
  }

  .col-md-push-9 {
    left: 75%;
  }

  .col-md-push-10 {
    left: 83.33333%;
  }

  .col-md-push-11 {
    left: 91.66667%;
  }

  .col-md-push-12 {
    left: 100%;
  }

  .col-md-offset-0 {
    margin-left: 0%;
  }

  .col-md-offset-1 {
    margin-left: 8.33333%;
  }

  .col-md-offset-2 {
    margin-left: 16.66667%;
  }

  .col-md-offset-3 {
    margin-left: 25%;
  }

  .col-md-offset-4 {
    margin-left: 33.33333%;
  }

  .col-md-offset-5 {
    margin-left: 41.66667%;
  }

  .col-md-offset-6 {
    margin-left: 50%;
  }

  .col-md-offset-7 {
    margin-left: 58.33333%;
  }

  .col-md-offset-8 {
    margin-left: 66.66667%;
  }

  .col-md-offset-9 {
    margin-left: 75%;
  }

  .col-md-offset-10 {
    margin-left: 83.33333%;
  }

  .col-md-offset-11 {
    margin-left: 91.66667%;
  }

  .col-md-offset-12 {
    margin-left: 100%;
  }
}
@media (min-width: 1200px) {
  .col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12 {
    float: left;
  }

  .col-lg-1 {
    width: 8.33333%;
  }

  .col-lg-2 {
    width: 16.66667%;
  }

  .col-lg-3 {
    width: 25%;
  }

  .col-lg-4 {
    width: 33.33333%;
  }

  .col-lg-5 {
    width: 41.66667%;
  }

  .col-lg-6 {
    width: 50%;
  }

  .col-lg-7 {
    width: 58.33333%;
  }

  .col-lg-8 {
    width: 66.66667%;
  }

  .col-lg-9 {
    width: 75%;
  }

  .col-lg-10 {
    width: 83.33333%;
  }

  .col-lg-11 {
    width: 91.66667%;
  }

  .col-lg-12 {
    width: 100%;
  }

  .col-lg-pull-0 {
    right: auto;
  }

  .col-lg-pull-1 {
    right: 8.33333%;
  }

  .col-lg-pull-2 {
    right: 16.66667%;
  }

  .col-lg-pull-3 {
    right: 25%;
  }

  .col-lg-pull-4 {
    right: 33.33333%;
  }

  .col-lg-pull-5 {
    right: 41.66667%;
  }

  .col-lg-pull-6 {
    right: 50%;
  }

  .col-lg-pull-7 {
    right: 58.33333%;
  }

  .col-lg-pull-8 {
    right: 66.66667%;
  }

  .col-lg-pull-9 {
    right: 75%;
  }

  .col-lg-pull-10 {
    right: 83.33333%;
  }

  .col-lg-pull-11 {
    right: 91.66667%;
  }

  .col-lg-pull-12 {
    right: 100%;
  }

  .col-lg-push-0 {
    left: auto;
  }

  .col-lg-push-1 {
    left: 8.33333%;
  }

  .col-lg-push-2 {
    left: 16.66667%;
  }

  .col-lg-push-3 {
    left: 25%;
  }

  .col-lg-push-4 {
    left: 33.33333%;
  }

  .col-lg-push-5 {
    left: 41.66667%;
  }

  .col-lg-push-6 {
    left: 50%;
  }

  .col-lg-push-7 {
    left: 58.33333%;
  }

  .col-lg-push-8 {
    left: 66.66667%;
  }

  .col-lg-push-9 {
    left: 75%;
  }

  .col-lg-push-10 {
    left: 83.33333%;
  }

  .col-lg-push-11 {
    left: 91.66667%;
  }

  .col-lg-push-12 {
    left: 100%;
  }

  .col-lg-offset-0 {
    margin-left: 0%;
  }

  .col-lg-offset-1 {
    margin-left: 8.33333%;
  }

  .col-lg-offset-2 {
    margin-left: 16.66667%;
  }

  .col-lg-offset-3 {
    margin-left: 25%;
  }

  .col-lg-offset-4 {
    margin-left: 33.33333%;
  }

  .col-lg-offset-5 {
    margin-left: 41.66667%;
  }

  .col-lg-offset-6 {
    margin-left: 50%;
  }

  .col-lg-offset-7 {
    margin-left: 58.33333%;
  }

  .col-lg-offset-8 {
    margin-left: 66.66667%;
  }

  .col-lg-offset-9 {
    margin-left: 75%;
  }

  .col-lg-offset-10 {
    margin-left: 83.33333%;
  }

  .col-lg-offset-11 {
    margin-left: 91.66667%;
  }

  .col-lg-offset-12 {
    margin-left: 100%;
  }
}
.auto {
  cursor: auto;
}

.default {
  cursor: default;
}

.none {
  cursor: none;
}

.context-menu {
  cursor: context-menu;
}

.help {
  cursor: help;
}

.pointer {
  cursor: pointer;
}

.progress {
  cursor: progress;
}

.wait {
  cursor: wait;
}

.cell {
  cursor: cell;
}

.crosshair {
  cursor: crosshair;
}

.text {
  cursor: text;
}

.vertical-text {
  cursor: vertical-text;
}

.alias {
  cursor: alias;
}

.copy {
  cursor: copy;
}

.move {
  cursor: move;
}

.no-drop {
  cursor: no-drop;
}

.not-allowed {
  cursor: not-allowed;
}

.all-scroll {
  cursor: all-scroll;
}

.col-resize {
  cursor: col-resize;
}

.row-resize {
  cursor: row-resize;
}

.n-resize {
  cursor: n-resize;
}

.e-resize {
  cursor: e-resize;
}

.s-resize {
  cursor: s-resize;
}

.w-resize {
  cursor: w-resize;
}

.ns-resize {
  cursor: ns-resize;
}

.ew-resize {
  cursor: ew-resize;
}

.ne-resize {
  cursor: ne-resize;
}

.nw-resize {
  cursor: nw-resize;
}

.se-resize {
  cursor: se-resize;
}

.sw-resize {
  cursor: sw-resize;
}

.nesw-resize {
  cursor: nesw-resize;
}

.nwse-resize {
  cursor: nwse-resize;
}

.aws-c1 {
  margin-left: 0px;
  margin-right: 0px;
  margin-bottom: 10px;
}
.aws-c1:before, .aws-c1:after {
  content: " ";
  display: table;
}
.aws-c1:after {
  clear: both;
}
.aws-c1 > div {
  box-sizing: border-box;
  position: relative;
  float: left;
  width: 100%;
  min-height: 1px;
  padding-left: 0px;
  padding-right: 0px;
}

.aws-c2 {
  margin-left: -5px;
  margin-right: -5px;
  margin-bottom: 10px;
}
.aws-c2:before, .aws-c2:after {
  content: " ";
  display: table;
}
.aws-c2:after {
  clear: both;
}
.aws-c2 > div {
  box-sizing: border-box;
  position: relative;
  float: left;
  width: 50%;
  min-height: 1px;
  padding-left: 5px;
  padding-right: 5px;
}

.aws-c3 {
  margin-left: -5px;
  margin-right: -5px;
  margin-bottom: 10px;
}
.aws-c3:before, .aws-c3:after {
  content: " ";
  display: table;
}
.aws-c3:after {
  clear: both;
}
.aws-c3 > div {
  box-sizing: border-box;
  position: relative;
  float: left;
  width: 33.33333%;
  min-height: 1px;
  padding-left: 5px;
  padding-right: 5px;
}

.aws-c4 {
  margin-left: -5px;
  margin-right: -5px;
  margin-bottom: 10px;
}
.aws-c4:before, .aws-c4:after {
  content: " ";
  display: table;
}
.aws-c4:after {
  clear: both;
}
.aws-c4 > div {
  box-sizing: border-box;
  position: relative;
  float: left;
  width: 25%;
  min-height: 1px;
  padding-left: 5px;
  padding-right: 5px;
}

.aws-c2-p0 {
  margin-left: 0px;
  margin-right: 0px;
}
.aws-c2-p0:before, .aws-c2-p0:after {
  content: " ";
  display: table;
}
.aws-c2-p0:after {
  clear: both;
}
.aws-c2-p0 > div {
  box-sizing: border-box;
  position: relative;
  float: left;
  width: 50%;
  min-height: 1px;
  padding-left: 0px;
  padding-right: 0px;
}

.aws-c3-p0 {
  margin-left: 0px;
  margin-right: 0px;
}
.aws-c3-p0:before, .aws-c3-p0:after {
  content: " ";
  display: table;
}
.aws-c3-p0:after {
  clear: both;
}
.aws-c3-p0 > div {
  box-sizing: border-box;
  position: relative;
  float: left;
  width: 33.33333%;
  min-height: 1px;
  padding-left: 0px;
  padding-right: 0px;
}

.aws-button {
  display: inline-block;
  text-decoration: none;
  outline: none;
  box-shadow: none;
  font-size: 12px;
  padding: 2px 11px;
  color: #FFF;
  background: #3F4C59;
  border-radius: 3px;
  border-bottom: 1px solid #313538;
}

.aws-button-s1 {
  display: inline-block;
  text-decoration: none;
  outline: none;
  box-shadow: none;
  font-size: 12px;
  padding: 6px 20px;
  color: #FFF;
  background: #6584A3;
  border-radius: 0px;
  border-bottom: 1px solid #313538;
}
.aws-button-s1:hover, .aws-button-s1:focus {
  color: #FFF;
  background: #3F4C59;
  outline: none;
  box-shadow: none;
}

.aws-group {
  padding: 6px;
}
.aws-group > div {
  background: #505A63;
}

.aws-input label, .aws-input input, .aws-input textarea {
  font-size: 12px;
  outline: none;
  box-shadow: none;
}
.aws-input label {
  font-weight: bold;
}
.aws-input > input {
  height: 17px;
  border: 0;
  margin: 0;
}
.aws-input textarea {
  height: 100px;
  box-shadow: none;
  border: 0;
}
.aws-input .x0 {
  width: 100%;
}
.aws-input input.x1 {
  width: 50px;
}
.aws-input.h .minicolors {
  width: 40px;
  height: 20px;
}
.aws-input.h .minicolors .minicolors-swatch {
  width: 40px;
  height: 20px;
}
.aws-input.h > label, .aws-input.h > input, .aws-input.h > .input, .aws-input.h .minicolors {
  display: inline-block;
  vertical-align: middle;
}
.aws-input.h label {
  text-align: left;
}
.aws-input.h.x1 label {
  width: 65px;
  padding-right: 4px;
}
.aws-input.h.x1 input {
  width: 40px;
}
.aws-input.h.x2 label {
  width: 65px;
  padding-right: 4px;
}
.aws-input.h.x2 > input, .aws-input.h.x2 > select, .aws-input.h.x2 .minicolors input {
  margin: 0;
  width: 163px;
  border: 0;
}
.aws-input.h.x3 {
  margin-bottom: 12px;
}
.aws-input.h.x3 label {
  width: 150px;
  padding-right: 4px;
}
.aws-input.h.x3 > input, .aws-input.h.x3 > select, .aws-input.h.x3 .minicolors input {
  margin: 0;
  width: 163px;
  border: 0;
  border: 1px solid #CFCFCF;
  height: 20px;
}
.aws-input.h.x3 textarea {
  width: 163px;
  border: 1px solid #CFCFCF;
}
.aws-input.h.x3.textarea label {
  vertical-align: top;
}
.aws-input.h.x4 {
  margin-bottom: 12px;
}
.aws-input.h.x4 > label {
  width: 150px;
  padding-right: 4px;
}
.aws-input.h.x4 > .input {
  width: 300px;
}
.aws-input.h.x4 > .input label {
  width: 97px;
  display: inline-block;
}
.aws-input.h.x4 > input, .aws-input.h.x4 > select, .aws-input.h.x4 .minicolors input {
  margin: 0;
  width: 170px;
  border: 0;
  height: 20px;
}
.aws-input.h.x4 > input label, .aws-input.h.x4 > select label, .aws-input.h.x4 .minicolors input label {
  margin-right: 10px;
}
.aws-input.h.x4 textarea {
  width: 163px;
  border: 1px solid #CFCFCF;
}
.aws-input.h.x4.textarea label {
  vertical-align: top;
}
.aws-input.h.x5 {
  margin-bottom: 12px;
  padding-left: 150px;
  position: relative;
}
.aws-input.h.x5 > label {
  width: 150px;
  padding-right: 4px;
  position: absolute;
  left: 0;
  top: 0;
}
.aws-input.h.x5 > input, .aws-input.h.x5 > .input, .aws-input.h.x5 > select, .aws-input.h.x5 .minicolors input {
  margin: 0;
  width: 170px;
  border: 0;
  height: 20px;
}
.aws-input.h.x5 > input label, .aws-input.h.x5 > .input label, .aws-input.h.x5 > select label, .aws-input.h.x5 .minicolors input label {
  margin-right: 10px;
}
.aws-input.h.x5 textarea {
  width: 98%;
  border: 1px solid #CFCFCF;
}
.aws-input.h.x5.textarea label {
  vertical-align: top;
}
.aws-input.v > label {
  display: block;
  font-weight: normal;
}

.group_select_video input {
  display: none;
}
.group_select_video label {
  display: inline-block;
  text-align: center;
  padding: 4px 8px;
  cursor: pointer !important;
  margin: 0	4px;
  border-radius: 6px;
}
.group_select_video label.active, .group_select_video label:hover, .group_select_video label.selected {
  background: #434D54;
}
.group_select_video .video_icon {
  font-size: 40px;
  display: block;
}
.group_select_video .video_icon_title {
  font-size: 12px;
}

aws-accordion {
  display: block;
}
aws-accordion .panel-group .panel {
  display: block;
  border-bottom: 1px solid #525F6B;
}
aws-accordion .panel-group .panel-heading {
  padding: 5px 0px;
  background: transparent;
}
aws-accordion .panel-title {
  margin: 0;
  padding: 0;
}
aws-accordion .panel-title a {
  display: block;
  cursor: pointer;
  text-decoration: none;
  color: #FFF;
  outline: none;
  box-shadow: none;
}
aws-accordion .panel-title a:before {
  content: "\f139";
  display: inline-block;
  font-size: 20px;
  line-height: 1;
  font-family: dashicons;
  text-decoration: inherit;
  font-weight: 400;
  font-style: normal;
  vertical-align: top;
  text-align: center;
  -webkit-transition: color .1s ease-in 0;
  transition: color .1s ease-in 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

aws-accordion-group > .panel-collapse {
  display: none;
}
aws-accordion-group.in > .panel-heading a:before {
  content: "\f140";
}
aws-accordion-group.in > .panel-collapse {
  display: block;
}

aws-tabs .tab-title {
  padding: 0 4px;
}
aws-tabs .tab-title a {
  display: inline-block;
  text-decoration: none;
  padding: 4px 20px;
  background: #6584A3;
  color: #FFF;
  outline: none;
  box-shadow: none;
}
aws-tabs .tab-title a.active {
  background: #4B5259;
}
aws-tabs .tab-content {
  clear: both;
  border-top: 1px solid #CFCFCF;
  position: relative;
}
aws-tabs .tab-content > div {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  opacity: 0;
  padding: 10px;
  width: 100%;
}
aws-tabs .tab-content > div.active {
  opacity: 1;
  z-index: 9999;
}

#tools, .panel-3, #sidebar-left {
  display: table-cell;
  vertical-align: top;
}

#sidebar-left {
  position: relative;
  background: #3F484F;
  height: 100%;
  width: 260px;
  z-index: 999;
  box-sizing: border-box;
}

.panel-wrap {
  margin-top: 12px;
}

.awsslideshow_workspace a {
  font-weight: 400;
}

elementtext, elementimage, elementvideo {
  display: block;
  transform-origin: center center;
  -webkit-transform-origin: center center;
  -moz-transform-origin: center center;
  -o-transform-origin: center center;
}

#wrapper_scroller {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
}
#wrapper_scroller .scroller {
  position: absolute;
  z-index: 1;
  -webkit-tap-highlight-color: transparent;
  width: 2000px;
  height: 1000px;
  background-color: #2B2F32;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-text-size-adjust: none;
  -moz-text-size-adjust: none;
  -ms-text-size-adjust: none;
  -o-text-size-adjust: none;
  text-size-adjust: none;
}
#wrapper_scroller .iScrollHorizontalScrollbar {
  position: absolute;
  z-index: 9999;
  height: 5px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  overflow: hidden;
}
#wrapper_scroller .iScrollVerticalScrollbar {
  position: absolute;
  z-index: 999;
  width: 5px;
  bottom: 0px;
  top: 0px;
  right: 0px;
  overflow: hidden;
}
#wrapper_scroller .iScrollIndicator {
  position: absolute;
  background: #A3A3A3;
  width: 100%;
  height: 100%;
}

.tiny_scroller {
  overflow: hidden;
  position: relative;
  width: 100%;
}
.tiny_scroller .iScrollHorizontalScrollbar {
  position: absolute;
  z-index: 9999;
  height: 3px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  overflow: hidden;
}
.tiny_scroller .iScrollVerticalScrollbar {
  position: absolute;
  z-index: 9999;
  width: 3px;
  bottom: 0px;
  top: 0px;
  right: 0px;
  overflow: hidden;
}
.tiny_scroller .iScrollIndicator {
  position: absolute;
  background: #A3A3A3;
  width: 100%;
  height: 100%;
}
.tiny_scroller .scroller {
  position: absolute;
  z-index: 1;
  -webkit-tap-highlight-color: transparent;
  width: 100%;
  height: auto;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-text-size-adjust: none;
  -moz-text-size-adjust: none;
  -ms-text-size-adjust: none;
  -o-text-size-adjust: none;
  text-size-adjust: none;
}
.tiny_scroller .container_scroller {
  position: relative;
  height: 100%;
  width: 100%;
}
.tiny_scroller ul {
  padding: 0;
  margin: 0;
  display: block;
  position: relative;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
}
.tiny_scroller ul li + li {
  border-top: 1px solid #363E44;
}
.tiny_scroller ul li {
  padding: 4px 10px;
  color: #FFF;
  background: #434C52;
  margin-bottom: 0px;
  font-size: 12px;
  cursor: pointer;
}
.tiny_scroller ul li.active {
  background: #363E44;
}
.tiny_scroller ul li .name {
  font-size: 11px;
  color: #FFF;
  margin-left: 10px;
}
.tiny_scroller ul li .status {
  position: absolute;
  right: 4px;
  font-size: 10px;
  color: #CDCFCB;
}

#effects_scroller {
  height: 300px;
}

#slides_scroller {
  height: 461px;
  margin-top: 4px;
}
#slides_scroller ul li {
  cursor: pointer;
  color: #FFF;
  background: #434C52;
  padding: 4px;
  margin: 0;
  -webkit-transition: background 0.5s;
  -moz-transition: background 0.5s;
  -ms-transition: background 0.5s;
  -o-transition: background 0.5s;
  transition: background 0.5s;
}
#slides_scroller ul li .action {
  margin-right: 5px;
  display: inline-block;
  background: #505A63;
  padding: 10px;
  border-radius: 100%;
  position: relative;
}
#slides_scroller ul li .published:before {
  content: "\f06e";
}
#slides_scroller ul li .published.p-0:before {
  content: "\f070";
}
#slides_scroller ul li .published.p-1:before {
  content: "\f06e";
}
#slides_scroller ul li:hover, #slides_scroller ul li.active {
  background: #47535E;
}

.elementslist {
  padding-top: 0px;
}
.elementslist .awsicon {
  margin-right: 10px;
}
.elementslist > div {
  text-align: center;
}
.elementslist > div span {
  display: inline-block;
  vertical-align: middle;
}
.elementslist > div a {
  display: block;
  padding: 5px 10px;
  text-align: left;
  text-decoration: none;
  color: #FFF;
  border-bottom: 1px solid #3F484F;
  outline: none;
  box-shadow: none;
}
.elementslist > div a:hover, .elementslist > div a:focus {
  background: #45515C;
  outline: none;
}
.elementslist > li {
  padding: 8px;
}
.elementslist > li a {
  text-align: center;
}
.elementslist > li a span.lbl {
  display: block;
}

.toolpanel {
  position: absolute;
  z-index: 999;
  top: 0;
  left: 30px;
  width: 200px;
  height: 100%;
  background: #505A63;
}
.toolpanel .header {
  padding: 10px 0 10px 10px;
  border-bottom: 1px solid #3F484F;
}
.toolpanel .header .title {
  font-size: 17px;
  color: #FFF;
  font-weight: 300;
}

#items_scroller {
  height: 300px;
  margin-top: 4px;
}

.awsicon:before {
  display: inline-block;
  font-size: 20px;
  line-height: 1;
  font-family: dashicons;
  text-decoration: inherit;
  font-weight: 400;
  font-style: normal;
  vertical-align: top;
  text-align: center;
  -webkit-transition: color .1s ease-in 0;
  transition: color .1s ease-in 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.awsicon.x1:before {
  font-size: 20px;
}
.awsicon.x2:before {
  font-size: 40px;
}
.awsicon.awsicon-info:before {
  content: "\f348";
}
.awsicon.awsicon-setting:before {
  content: "\f111";
}
.awsicon.awsicon-format-image:before {
  content: "\f128";
}
.awsicon.awsicon-format-video:before {
  content: "\f126";
}
.awsicon.awsicon-editor-paste-text:before {
  content: "\f217";
}

#tools {
  background: #3F484F;
  height: 100%;
  width: 30px;
  z-index: 999;
  box-sizing: border-box;
}
#tools a {
  text-decoration: none;
  color: #FFF;
  outline: none;
  box-shadow: none;
}
#tools .toollist li > a {
  display: block;
}
#tools .toollist {
  margin: 0;
  padding: 6px 0;
}
#tools .toollist > li {
  margin: 0;
  padding-bottom: 5px;
}
#tools .toollist > li > a {
  padding: 5px;
}
#tools .toollist > li > a:hover {
  background: #363F45;
  outline: none;
}
#tools .toollist > li .toolpanel.ng-hide {
  visibility: hidden;
  opacity: 0;
}
#tools .toollist > li .toolpanel.isShow {
  visibility: visible;
  opacity: 1;
}

#workspace {
  width: 100%;
  height: 600px;
  background: #CFCFCF;
  position: relative;
}
#workspace .container-elements {
  position: absolute;
  height: 100%;
  width: 100%;
  background-repeat: none;
  background-size: cover;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  margin: auto;
}
#workspace .box-1 {
  display: block;
  position: absolute;
  top: 10px;
  right: 50%;
  -webkit-transform-origin: 0 0;
  -moz-transform-origin: 0 0;
  -o-transform-origin: 0 0;
}
#workspace .elements {
  cursor: pointer;
}
#workspace .elements.video {
  background: #484B4C;
}
#workspace .elements.video:before {
  content: '\f144';
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  margin: auto;
  font-family: FontAwesome;
  font-size: 50px;
  width: 50px;
  height: 50px;
  text-align: center;
  line-height: 1;
  color: #FFF;
}
#workspace .elements.active .ui-resizable-handle {
  position: absolute;
  width: 10px;
  height: 10px;
  display: block;
  background: #0D77D7;
}
#workspace .elements.active .ui-resizable-handle.ui-resizable-s {
  bottom: -5px;
  left: 50%;
  margin-left: -5px;
}
#workspace .elements.active .ui-resizable-handle.ui-resizable-n {
  top: -5px;
  left: 50%;
  margin-left: -5px;
}
#workspace .elements.active .ui-resizable-handle.ui-resizable-e {
  top: 50%;
  margin-top: -5px;
  right: -5px;
}
#workspace .elements.active .ui-resizable-handle.ui-resizable-w {
  top: 50%;
  margin-top: -5px;
  left: -5px;
}
#workspace .elements.active .ui-resizable-handle.ui-resizable-se {
  bottom: -5px;
  right: -5px;
}
#workspace .elements.active .ui-resizable-handle.ui-resizable-ne {
  top: -5px;
  right: -5px;
}
#workspace .elements.active .ui-resizable-handle.ui-resizable-nw {
  top: -5px;
  left: -5px;
}
#workspace .elements.active .ui-resizable-handle.ui-resizable-sw {
  bottom: -5px;
  left: -5px;
}
#workspace elementimage img {
  width: 100%;
  height: 100%;
}
#workspace elementtext span {
  line-height: 1;
  white-space: nowrap;
  display: block;
}
#workspace .properties input {
  background: #ADB4B8;
  color: #474747;
}
#workspace .properties input:focus {
  background: #FFF;
}

contextbar {
  display: block;
  width: 100%;
  height: 40px;
  background: #3F484F;
}

.place-2 {
  position: relative;
  height: 570px;
  display: table;
  width: 100%;
}

#contextbar ul {
  margin: 0;
  padding: 0;
}
#contextbar > div {
  width: 100%;
  height: 100%;
  background: #525F6B;
  list-style-type: none;
  display: block;
  padding-left: 0px;
  box-sizing: border-box;
  border-bottom: 1px solid #505A63;
}
#contextbar > div li {
  display: inline-block;
  position: relative;
  margin: 0;
}
#contextbar > div li > a {
  display: inline-block;
  width: 30px;
  height: 20px;
  padding: 10px 5px;
  color: #FFF;
  border-left: 1px solid #475461;
  text-decoration: none;
  outline: none;
  box-shadow: none;
  font-size: 20px;
}
#contextbar > div li > a.arrange-middle {
  background: url("../images/icon_arrange_middle.png") center center no-repeat;
}
#contextbar > div li > a.arrange-center {
  background: url("../images/icon_arrange_center.png") center center no-repeat;
}
#contextbar > div li > a.arrange-top {
  background: url("../images/icon_arrange_top.png") center center no-repeat;
}
#contextbar > div li > a.arrange-bottom {
  background: url("../images/icon_arrange_bottom.png") center center no-repeat;
}
#contextbar > div li > a.arrange-left {
  background: url("../images/icon_arrange_left.png") center center no-repeat;
}
#contextbar > div li > a.arrange-right {
  background: url("../images/icon_arrange_right.png") center center no-repeat;
}
#contextbar > div li > a:hover {
  background-color: #475461;
}
#contextbar > div li .wp-picker-container {
  display: inline-block;
  vertical-align: middle;
  padding: 0;
  position: relative;
}
#contextbar > div li .wp-picker-container > a {
  display: block;
  width: 30px;
  height: 23px;
  background: #EFEFEF;
  outline: none;
  box-shadow: none;
  margin-right: 40px;
  position: relative;
}
#contextbar > div li .wp-picker-container > a:before {
  content: 'Color';
  position: absolute;
  right: -40px;
  top: 2px;
  color: #FFF;
}
#contextbar > div li .wp-picker-container .wp-picker-input-wrap {
  position: absolute;
  top: 100%;
  z-index: 999;
}
#contextbar > div li .duration {
  display: inline-block;
}
#contextbar > div li .submenu {
  position: absolute;
  z-index: 999;
  top: 100%;
  left: 0;
  width: 200px;
  height: 100px;
  background: #6A7279;
  display: none;
}
#contextbar > div li .submenu > div {
  padding: 4px;
}
#contextbar > div li .submenu > div a {
  color: #FFF;
  text-decoration: none;
  display: block;
}
#contextbar > div li .submenu > div a span {
  display: inline-block;
}
#contextbar > div li.isSubmenu .submenu {
  display: block;
}

dimension {
  display: block;
}

#top_right_contextbar {
  position: absolute;
  top: 0;
  right: 0;
}
#top_right_contextbar a {
  float: right;
  display: block;
  text-decoration: none;
  color: #FFF;
  font-size: 13px;
  padding: 11px;
  outline: none;
  box-shadow: none;
  border-left: 1px solid #525F6B;
}
#top_right_contextbar a:hover, #top_right_contextbar a:focus, #top_right_contextbar a.active {
  outline: none;
  box-shadow: none;
  color: #FFF;
  background: #2B2F32;
}
#top_right_contextbar a.active {
  background: #3A3A3A;
}

aws-accordion-group label, aws-accordion-group input {
  font-size: 12px;
}
aws-accordion-group label {
  color: #FFF;
}

.aws-lightbox {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 9999;
  background: rgba(0, 0, 0, 0.67);
}
.aws-lightbox .preview {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  margin: auto;
  background: #fff;
  box-shadow: 1px 1px 3px #1A1A1A;
}
.aws-lightbox .pagination {
  position: absolute;
  bottom: 4px;
  left: 0;
  width: 100%;
  text-align: center;
}
.aws-lightbox .pagination a {
  display: inline-block;
  background: #FFF;
  margin-right: 4px;
  padding: 4px 10px;
  border-radius: 100%;
  border: 1px solid #000;
  color: #000;
  text-decoration: none;
  box-shadow: none;
  outline: none;
}
.aws-lightbox .pagination a.active {
  background: #000;
  color: #FFF;
}
.aws-lightbox .previewAction {
  position: absolute;
  top: 0;
  right: 0;
  height: 30px;
  width: 100%;
}
.aws-lightbox .closelightbox {
  margin: 0 auto;
  background: #6C6C6C;
  color: #FFF;
  float: right;
  font-size: 20px;
  padding: 4px;
  cursor: pointer;
}
.aws-lightbox .closelightbox:hover {
  background: #000;
}

.separate {
  border-left: 1px solid #3F484F;
  margin-right: 10px;
}

.action_info {
  float: right;
  margin-right: 0px;
  display: block;
  background: #505A63;
  padding: 10px;
  position: relative;
}
.action_info:hover {
  background: #616971;
}

.action_info_panel {
  position: absolute;
  top: 0;
  right: 100%;
  width: 200px;
  height: 100%;
  background: #505A63;
  display: none;
  border-left: 1px solid #3F484F;
  z-index: 9999;
}
.action_info_panel.isShow {
  display: block;
}

.aws-tabs .tab {
  color: #FFF;
  background: #434C52;
  padding: 4px;
  cursor: pointer;
}
.aws-tabs .tab.active {
  background: #47535E;
}

.lightbox-workspace {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 99;
  margin-left: 160px;
}

.aws_action_panel {
  height: 30px;
  margin: 0;
  padding: 0;
  background: #363E44;
}
.aws_action_panel li {
  float: left;
  border-right: 1px solid #3F484F;
}
.aws_action_panel a {
  display: block;
  color: #CFCFCF;
  padding: 6px 10px;
  font-size: 15px;
  box-shadow: none;
  outline: none;
}
.aws_action_panel a:hover {
  background: #2B2F32;
}

.minicolors input {
  border: 1px solid #656E76;
  text-indent: -10000px;
}
.minicolors .minicolors-swatch {
  display: none;
}

/*# sourceMappingURL=admin_stylesheet.css.map */
